<div class="main-container">
  <div class="form-container" *ngIf="response != 'loading' && response != 'loaded'">
    <div class="top-container">
      <h2 class="h2-title">Upload your Image</h2>
      <span class="about-text">File should be Jpeg, Png,...</span>
    </div>

    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="drag-and-drop-container">
        <div class="drag-and-drop-info">
          <img alt="" src="./../assets/gallery.png" class="gallery-icon" />
          <span class="drag-and-drop-text">File should be Jpeg, Png,...</span>
        </div>

        <input
          class="drag-and-drop-container--file-input"
          type="file"
          name=""
          id=""
          (change)="onChangeInputImage($event)"
          multiple
        />
      </div>

      <div class="separator-row">
        <span class="normal-text">Or</span>
      </div>

      <div class="button-container">
        <button class="choose-a-file-button">
          <span class="normal-text">Choose a file</span>
          <input
            class="choose-a-file-button--input-file"
            type="file"
            name=""
            id=""
            (change)="onChangeInputImage($event)"
            multiple
          />
        </button>

        <button
          *ngIf="
            form.value.imageInput != undefined
          "
          type="submit"
          class="submit-button"
          
        >
          Send
        </button>
      </div>
    </form>
  </div>

  <app-progress-bar *ngIf="response == 'loading'"></app-progress-bar>

  <app-upload-result-page *ngIf="response == 'loaded'" [imageUrl]="imageUrl"></app-upload-result-page>
</div>
