.main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 42.5rem;
  height: 50rem;
  padding: 2rem 4rem;
  border-radius: 1rem;
  border: 0.1rem dashed #a2a2a2;
  background-color: white;
  box-sizing: border-box;
}

.top-container {
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.h2-title {
  margin: 1rem 0;
}

.form {
  width: 100%;
  display: flex;
  flex-direction:column;
  align-items: center;
}

.drag-and-drop-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #F6F8FB;
  position: relative;
  width: 100%;
  transition: shake 2s linear 1s;
  height: 30.5rem;
  border: 0.1rem dashed rgba(0, 0, 0, 0.452);
  border-radius: 0.5rem;
}

.drag-and-drop-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5rem 0;
}

.drag-and-drop-text {
  display: block;
  font-size: 1.2rem;
}


.uploaded-photo {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-bottom: 3rem;
  top: 0;
  left: 0;
  object-fit: contain;
}

.separator-row {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.clipboard-container {
  display: flex;
  margin: 3.5rem 0 0 0;
  width: 100%;
  background-color: #ebebeb;
  padding: 0.5rem 0;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  border-radius: 0.5rem;
  justify-content: space-between;
}

.image-url {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 75%;
  font-size: 1.4rem;
  border: none;
}

.copy-button {
  width: 20%;
  border: none;
  background-color: #2f81edd2;
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
}

.copy-button:hover {
  background-color: #2f81ed;
}